{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 120,
  "importOrder": ["<THIRD_PARTY_MODULES>", "<BUILTIN_MODULES>", "^[.]"],
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
