@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 98%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 213 29.7% 32.35%;
        --primary-foreground: 0 0% 98%;
        --secondary: 235 21.1% 21.37%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 92.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 81.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .dark {
        --background: 210 20% 10%;
        --foreground: 210, 20%, 90%;
        --card: 210 20% 14%;
        --card-foreground: 0 0% 96%;
        --popover: 210 20% 14%;
        --popover-foreground: 0 0% 96%;
        --primary: 174 100% 29%;
        --primary-foreground: 0 0% 96%;
        --secondary: 190 100% 20%;
        --secondary-foreground: 0 0% 96%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 190 100% 20% / 0.1;
        --accent-foreground: 0 0% 96%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 96%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.toaster {
    --viewport-padding: 24px;
}

.toaster .sonner-toast {
    @apply bg-background/90 p-4 font-medium backdrop-blur-sm;
    box-shadow:
        0px 5px 22px rgba(0, 0, 0, 0.18),
        0px 1px 4px rgba(0, 0, 0, 0.12);
}

.dark .sonner-toast {
    @apply text-neutral-100;
}

.light .sonner-toast {
    @apply text-neutral-900;
}
